Form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: var(--background-color);
}

#TextInput {
  width: 50vw;
  height: 30vh;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 2.5dvh;
  border: 0px;
}

::placeholder {
  color: var(--primary-color-light);
}

.o {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color)
}

.SubmitBttn {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 18px;
  font-size: 1.2rem;
  font-weight: 500;
}